.formaDado {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}